product-card {
    display: block !important;
    border: 1px solid gray;
    a {
        font-size: 0.75em;
    }
    .ca-image-wrapper {
        min-height: 300px;
    }
    .usa-grid {
        padding: 10px;
    }

    .price {
        font-size: 150%;
    }

    .button_wrapper {
        text-align: center;
        button {
            margin: 0;
            width: 100%;
        }
    }

    input[type=checkbox] {
        display: inline-block;
        width: auto;
    }
    .compare {
        width: 100px;
    }
}