product-card {
  display: block !important;
  border: 1px solid gray;
}
product-card a {
  font-size: 0.75em;
}
product-card .ca-image-wrapper {
  min-height: 300px;
}
product-card .usa-grid {
  padding: 10px;
}
product-card .price {
  font-size: 150%;
}
product-card .button_wrapper {
  text-align: center;
}
product-card .button_wrapper button {
  margin: 0;
  width: 100%;
}
product-card input[type=checkbox] {
  display: inline-block;
  width: auto;
}
product-card .compare {
  width: 100px;
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  div.homepageProductContainer {
    margin-bottom: 0 !important;
  }
  div.homepageProductContainer product-card {
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 600px) {
  div.homepageProductContainer {
    margin-top: 20px;
    margin-bottom: 0 !important;
  }
  div.homepageProductContainer product-card {
    margin-bottom: 20px;
  }
}
