<link rel='stylesheet' type="text/css" href="app/views/shared/components/product-card/product-card.component.css" />

<div class="usa-grid" style="text-align: center">
    <div style="width:100%; min-height: 200px; background-color: lightgray; border: 1px solid darkgray"></div>
    <strong>{{product.productTitle}}</strong>
</div>
<div class="usa-grid" style="padding-top: 0px; padding-bottom: 0px;">
    <span class="price">{{product.listPrice}}</span>
</div>
<div class="usa-grid">
    <div class="button_wrapper">
        <button class="usa-button-secondary">Add to Cart</button>
    </div>
</div>
<div class="usa-grid">
    <div class="usa-width-one-half">
        <fieldset class="usa-fieldset-inputs usa-sans">
            <legend class="usa-sr-only">Select to Compare Product</legend>
            <ul class="usa-unstyled-list">
                <li>
                    <input type="checkbox" id="compareItem">
                    <label for="compareItem">Compare</label>
                </li>
            </ul>
    </div>
    <div class="usa-width-one-half text-right">
        <a ng-link="['Product Details', { id : product.sku }]">View Details</a>
    </div>
</div>