################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
project.lock.json
.vscode
.vs
bin
obj
README.md