.swiper-container {
  height: 400px;
}
.swiper-container .swiper-button-prev,
.swiper-container .swiper-container-rtl .swiper-button-next {
  left: 5%;
}
.swiper-container .swiper-button-next,
.swiper-container .swiper-container-rtl .swiper-button-prev {
  right: 5%;
}
.swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
}
