.order-details .usa-heading {
  border-bottom: 1px solid #e31c3d;
}
.order-details table th {
  background: #f1f1f1;
  font-weight: bold;
}
.order-details .product-thumbnail {
  width: 100%;
  min-height: 100px;
  background-color: lightgray;
  border: 1px solid darkgray;
  margin-right: 10px;
}
.order-details .order-item-list {
  margin-bottom: 10px;
}
