<link rel='stylesheet' type="text/css" href="app/views/shared/components/footer/footer.component.css" />

<div class="ca-footer">
    <div class="ca-footer-menu">
        <div class="usa-grid">
            <ul class="usa-unstyled-list">
                <li class="usa-width-one-third">
                    <span class="ca-footer-menu-header">Contact Us</span>
                    <ul class="usa-unstyled-list">
                        <li><a href="#">Contact Information</a></li>
                        <li><a href="#">Feedback</a></li>
                        <li><a href="#">Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Accessibility</a></li>
                    </ul>
                </li>
                <li class="usa-width-one-third">
                    <span class="ca-footer-menu-header">Account Information</span>
                    <ul class="usa-unstyled-list">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Track & Manage Orders</a></li>
                    </ul>
                </li>
                <li class="usa-width-one-third">
                    <span class="ca-footer-menu-header">Order</span>
                    <ul class="usa-unstyled-list">
                        <li><a href="#">Check Order Status</a></li>
                        <li><a href="#">Shipping Information</a></li>
                        <li><a href="#">Returns</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="ca-footer-info">
        <div class="usa-grid">
            <h4>ABC Store Contact Center</h4>
            <p class="no-margin">
                (800) CALL-GOVT <br> info@agency.gov
            </p>
        </div>
    </div>
</div>