<link rel='stylesheet' type="text/css" href="app/views/shared/components/footer/footer.component.css" />

<div class="ca-footer">
    <div class="ca-footer-menu">
        <div class="usa-grid">
            <ul class="usa-unstyled-list">
                <li class="usa-width-one-third">
                    <h3 class="ca-footer-menu-header">Contact Us</h3>
                    <ul class="usa-unstyled-list">
                        <li><a ng-link="['Contact Us']">Contact Information</a></li>
                        <!--<li><a ng-link="['FAQ']">FAQ</a></li>-->
                    </ul>
                </li>
                <li class="usa-width-one-third">
                    <h3 class="ca-footer-menu-header">Account Information</h3>
                    <ul class="usa-unstyled-list">
                        <li><a ng-link="['Order History']">My Order History</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--<div class="ca-footer-info">
        <div class="usa-grid">
            <h4>ABC Store Contact Center</h4>
            <p class="no-margin">
                (800) CALL-GOVT <br> info@agency.gov
            </p>
        </div>
    </div>-->
</div>