<link rel='stylesheet' type="text/css" href="app/views/shared/components/main-nav/main-nav.component.css" />

<header id="main-nav">
    <ul class="usa-unstyled-list">
        <li><a ng-link="['Admin Login']">Admin Login</a></li>
        <li><a ng-link="['Admin Inventory']">Admin Inventory</a></li>
        <!--<li><a ng-link="['Login Register']">Login/Register</a></li>-->
        <li><a ng-link="['About Us']">About Us</a></li>
        <li><a ng-link="['Help']">Help Desk</a></li>
        <li><a ng-link="['Cart']">Cart</a></li>
        <li><a ng-link="['Compare List']">Compare List</a></li>
        <li><a ng-click="model.logout()">Logout</a></li>
    </ul>
</header>