main-nav {
  min-height: 50px;
  border-bottom: 1px solid #aeb0b5;
  padding: 11px 0px;
}
main-nav a,
main-nav a:link,
main-nav a:hover,
main-nav a:active,
main-nav a:visited {
  color: black;
}
main-nav ul li {
  display: inline-block;
  margin-right: 40px;
}
main-nav ul:first-of-type li {
  z-index: 501;
  position: relative;
}
main-nav ul.text-right li {
  margin-right: 0px;
  margin-left: 40px;
}
main-nav .logout:hover {
  cursor: pointer;
}
