
<style type="text/css">
    .logo {
        width: auto;
        height: 45px;
        position: absolute;
        top: 3px;
        left: 3px;
        background-color: #FCFCFC;
    }
    .skiptranslate ~ .container-fluid .navbar-fixed-top {
        top: 40px;
    }

    .skiptranslate[style="display: none;"] ~ .container-fluid .navbar-fixed-top {
        top: 0px;
    }

</style>

<!-- Fixed navbar -->
<header id="navbar">
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header col-xs-6">
                <!--<a ng-link="['Home']" class="navbar-brand"><img src="content/macwis/mdhs_logo.png"
                                                                alt="{{model.brandName}}" class="logo"></a>-->
                <div class="h3"><a ng-link="['Home']">{{model.brandName}}</a></div>
            </div>
            <div class="navbar-content  col-xs-6">
                <a ng-link="['Advanced Search']">Advanced Search</a>
            </div>
        </div>
    </div>
</header>