
<div class="modal fade in" aria-hidden="false" style="display: block; z-index: 9999999;" ng-show="model.showModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="modal-title">Please sign in</h3>
            </div>
            <div class="modal-body">
                <form class="form-signin">
                    <label for="username" style="margin-top:0;">Username</label>
                    <input type="text" style="margin-bottom: 10px;" id="username" class="form-control" placeholder="Username" required autofocus ng-model="model.loginInfo.username">
                    <label for="Password">Password</label>
                    <input type="password" id="Password" class="form-control" placeholder="Password" required ng-model="model.loginInfo.password">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="model.okClick()">OK</button>
            </div>
        </div>
    </div>
</div>
