.your-cart input[type="text"] {
  width: 60px;
}
.your-cart .usa-heading {
  border-bottom: 1px solid #e31c3d;
}
.your-cart .items-in-cart-header {
  background: #F1F1F1;
  color: #000000;
  text-align: right;
  padding: 10px;
  font-size: 1.2em;
}
.your-cart .items-in-cart {
  padding: 20px 0;
  font-size: 1em;
}
.your-cart .buttons {
  clear: both;
  float: right;
}
.your-cart .help-info {
  border: 1px solid #A8ABB0;
  padding: 15px;
}
.your-cart .help-info h4 {
  margin-bottom: 0;
}
.your-cart .help-info p {
  margin-top: 0;
}
.your-cart .total {
  border-top: 1px solid #e31c3d;
  padding: 10px 0;
}
.your-cart .cost-per-item {
  float: left;
  padding-right: 10px;
}
.your-cart .quantity {
  float: right;
  padding-right: 25px;
}
