.usa-heading {
  border-bottom: 1px solid #e31c3d;
}
.table-header {
  background: #f1f1f1;
  font-weight: bold;
}
.table-header a {
  color: #0071bc;
}
.sort-arrow-up {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}
.sort-arrow-down {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
.btn-cancel {
  margin: 0 10px !important;
  float: right;
}
@media screen and (min-width: 1201px) {
  form#addProductForm fieldset div.usa-grid-full div.usa-width-one-half {
    margin-right: 0;
    padding-right: 2.35765%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  form#addProductForm fieldset div.usa-grid-full div.usa-width-one-half {
    margin-right: 0;
    padding-left: 4.82916%;
  }
}
