<link rel='stylesheet' type="text/css" href="app/areas/admin/inventory/inventory.css" />
<standard-layout>
    <h2>{{model.title}}</h2>
    <unauthorized-page  authorized="['Admin']"></unauthorized-page>
    <aside class="usa-width-one-sixth" permission="['Admin']">
        <ul class="usa-sidenav-list">
            <li><a href="" ng-click="model.showTable()" ng-class="{'usa-current' : model.tab == 3}">Catalog</a></li>
            <li><a href="" ng-click="model.showFilter()" ng-class="{'usa-current' : model.tab == 4}">Search</a></li>
            <li><a href="" ng-click="model.showAddEdit({}, false)" ng-class="{'usa-current' : model.tab == 2}">Add Product</a></li>
            <li><a href="" ng-click="model.showImport()" ng-class="{'usa-current' : model.tab == 1}">Import Products</a></li>
            <li><a href="" ng-click="model.showImportImages()" ng-class="{'usa-current' : model.tab == 5}">Import Images</a></li>
            <li><a href="" ng-click="model.showPrototypeTasks()" ng-class="{'usa-current' : model.tab == 7}">Prototype Tasks</a></li>
        </ul>
    </aside>
    <div class="usa-width-five-sixths" id="tabBody" permission="['Admin']">
        <div ng-show="model.tab == 1">
            <h3 class="usa-heading">Import Products</h3>
            <form name="fileImportForm" id="fileImportForm">
                <label for="selectedfile" class="usa-sr-only">Upload File</label>
                <input type="file" id="selectedfile" name="selectedfile" /><br />
                <button type="button" ng-click="model.importFile()" class="usa-button-secondary">Import CSV Inventory File</button>
            </form>
        </div>
        <div ng-show="model.tab == 5">
            <h3 class="usa-heading">Import Images</h3>
            <form name="imageImportForm" id="imageImportForm">
                <label for="selectedimages" class="usa-sr-only">Upload Image</label>
                <input type="file" id="selectedimages" name="selectedimages" multiple /><br />
                <button type="button" ng-click="model.importImages()" class="usa-button-secondary">Import Images</button>
            </form>
        </div>
        <div ng-show="model.tab == 6">
            <pre>{{model.importProgress}}</pre>
        </div>
        <div ng-show="model.tab == 7">
            <h3 class="usa-heading">Prototype Tasks</h3>
            <button ng-click="model.resetDatabase()" class="usa-button usa-button-secondary">Reset Database</button>
            <label for="demoorders" class="usa-sr-only ">Create Demo Orders</label>
            <input type="text" ng-model="model.createCount" id="demoorders" /> <button ng-click="model.createDemoOrders()" class="usa-button usa-button-secondary">Create Demo Orders</button>
        </div>
        <div ng-show="model.tab == 2">
            <h3 class="usa-heading"><span ng-show="model.editing">Edit</span><span ng-show="!model.editing">Add</span> Product</h3>
            <form name="addProductForm" id="addProductForm" novalidate
                ng-submit="addProductForm.$valid && model.addProduct()">
                <fieldset>
                    <div class="usa-grid-full">
                        <div class="usa-width-one-half">
                            <label for="title">Title</label></td>
                            <input type="text" ng-model="model.product.Title" id="title" required />

                            <label for="contract">Contract</label>
                            <select id="contract" ng-model="model.product.ContractNumber" ng-options="contract for contract in model.contracts" required>
                                <option value="">Select Contract</option>
                            </select>

                            <label for="contractor">Contractor</label></td>

                            <select id="contractor" ng-model="model.product.Contractor" ng-options="contractor for contractor in model.contractors" required>
                                <option value="">Select Contractor</option>
                            </select>

                            <label for="clin">CLIN</label>
                            <input id="clin" type="text" ng-model="model.product.CLIN" required />

                            <label for="contractdiscount">Contract Discount</label>
                            <input id="contractdiscount" type="text" ng-model="model.product.ContractDiscount" required />

                            <label for="contractexpiration">Contract Expiration</label>
                            <input id="contractexpiration" type="text" ng-model="model.product.ContractExpiration" required />

                            <label for="listprice">List Price</label>
                            <input id="listprice" type="text" ng-model="model.product.ListPrice" required />

                            <label for="contractprice">Contract Price</label>
                            <input id="contractprice" type="text" ng-model="model.product.ContractPrice" required />

                            <label for="manufacturer">Manufacturer</label>
                            <input id="manufacturer" type="text" ng-model="model.product.Manufacturer" required />
                        </div>

                        <div class="usa-width-one-half">
                            <label for="partnumber">Part Number</label>
                            <input id="partnumber" type="text" ng-model="model.product.ManufacturerPartNumber" required />

                            <label for="sku">SKU</label>
                            <input id="sku" type="text" ng-model="model.product.SKU" required />

                            <label for="unspsc">UNSPSC</label>
                            <input id="unspsc" type="text" ng-model="model.product.UNSPSC"  />

                            <label for="producttype">Product Type</label>
                            <select id="producttype" ng-model="model.product.ProductType" ng-options="prod for prod in model.productTypes" required>
                                <option value="">Select Product Type</option>
                            </select>

                            <label for="category">Category</label>
                            <select id="category" ng-model="model.product.Category" ng-options="category for category in model.categories" required>
                                <option value="">Select Category</option>
                            </select>

                            <label for="unitofmeasure">Unit of Measure</label>
                            <select id="unitofmeasure" ng-model="model.product.UnitOfMeasure" ng-options="unit for unit in model.unitsOfMeasure" required>
                                <option value="">Select Unit of Measure</option>
                            </select>

                            <label for="quantityperoum">Quantity per UOM</label></td>
                            <input id="quantityperoum" type="text" ng-model="model.product.QuantityPerUnitOfMeasure" required />

                            <label for="description">Description</label>
                            <textarea id="description" ng-model="model.product.Description" required></textarea>

                            <label for="imagefilename">Image File Name</label>
                            <select id="imagefilename" ng-model="model.product.ImageFileName" ng-options="name for name in model.imageFileNames" required>
                                <option value="">Select Image File Name</option>
                            </select>

                            <label for="noimage" class="usa-sr-only">No image</label></td>
                            <input id="noimage" type="hidden" ng-model="model.product.Id" />
                            <img height="100" width="100" ng-src="/api/image/{{model.product.ImageFileName}}" alt="No Image Selected" />
                        </div>

                        <div class="usa-width-one-whole">
                            <input type="submit" value="Add Item" ng-disabled="!addProductForm.$valid" ng-hide="model.editing" class="usa-button-secondary right" />
                            <input type="submit" value="Save Changes" ng-disabled="!addProductForm.$valid" ng-show="model.editing" class="usa-button-secondary right" />
                            <input type="submit" value="Cancel" ng-click="model.cancelAddEdit()" class="btn-cancel usa-button-secondary" />
                        </div>
                    </div>
                    
                </fieldset>
            </form>
        </div>
        <div ng-show="model.tab == 3">
            <h3 class="usa-heading">Catalog</h3>
            <div class="table-responsive">
                <table>
                    <thead> 
                        <tr>
                            <th>Select</th>
                            <th><a href="" ng-click="model.setOrderByColumn('Title')">Title</a></th>
                            <th><a href="" ng-click="model.setOrderByColumn('Category')">Category</a></th>
                            <th><a href="" ng-click="model.setOrderByColumn('ProductType')">Product Type</a></th>
                            <th><a href="" ng-click="model.setOrderByColumn('Manufacturer')">Manufacturer</a></th>
                            <th><a href="" ng-click="model.setOrderByColumn('ContractDiscount')">Contract Discount</a></th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in model.products">
                        <td>
                            
                            <input id="deleteToggle_{{$id}}" ng-click="model.select(row.Id)" type="checkbox" >
                            <label for="deleteToggle_{{$id}}" class="usa-sr-only">Toggle to Delete</label>
                            
                            <!--<a href="" ng-click="model.select(row.Id)">
                                <span ng-show="row.isSelected">Selected</span>
                                <spap ng-hide="row.isSelected">Unselected</spap>
                            </a>-->
                        </td>
                        <td title="{{row.Description}}">{{row.Title}}</td>
                        <td>{{row.Category}}</td>
                        <td>{{row.ProductType}}</td>
                        <td>{{row.Manufacturer}}</td>
                        <td>{{row.ContractDiscount}}</td>
                        <td><a href="" ng-click="model.edit(row.Id)">Edit</a>&nbsp;&nbsp;<a href="" ng-click="model.delete(row.Id)">Delete</a></td>
                    </tr>
                    <tr>
                        <td><button ng-click="model.deleteSelected()" class="usa-button usa-button-secondary">Delete<br/>Selected</button></td>
                        <td colspan="5" style="text-align:center">
                            &nbsp;<a href="" ng-click="model.firstPage()">|&lt;</a>
                            &nbsp;<a href="" ng-click="model.priorPage()">&lt;&lt;</a>
                            &nbsp;<span>Page {{model.page + 1}} of {{model.pageCount}}</span>
                            &nbsp;<a href="" ng-click="model.nextPage()">&gt;&gt;</a>
                            &nbsp;<a href="" ng-click="model.lastPage()">&gt;|</a>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        <div ng-show="model.tab == 4">
            <h3 class="usa-heading">Search Products</h3>
            <form name="filterProductForm" id="filterProductForm" novalidate>
                <fieldset>
                    <div class="usa-grid-full">
                        <div class="usa-width-one-half">
                            <label for="search-title">Title</label>
                            <input id="search-title" type="text" ng-model="model.filter.Title" />

                            <label for="search-contract">Contract</label>
                            <select id="search-contract" ng-model="model.filter.ContractNumber" ng-options="contract for contract in model.contracts" >
                                <option value="">Select Contract</option>
                            </select>

                            <label for="search-contractor">Contractor</label>
                            <select id="search-contractor" ng-model="model.filter.Contractor" ng-options="contractor for contractor in model.contractors" >
                                <option value="">Select Contractor</option>
                            </select>

                            <label for="search-clin">CLIN</label>
                            <input id="search-clin" type="text" ng-model="model.filter.CLIN" />

                            <label for="search-contractdiscount">Contract Discount</label>
                            <input id="search-contractdiscount" type="text" ng-model="model.filter.ContractDiscount" />

                            <label for="search-contractexpiration">Contract Expiration</label>
                            <input id="search-contractexpiration" type="text" ng-model="model.filter.ContractExpiration" />

                            <label for="search-listprice">List Price</label>
                            <input id="search-listprice" type="text" ng-model="model.filter.ListPrice" />

                            <label for="search-contractprice">Contract Price</label></td>
                            <input id="search-contractprice" type="text" ng-model="model.filter.ContractPrice" />

                            <label for="search-manufacturer">Manufacturer</label>
                            <input id="search-manufacturer" type="text" ng-model="model.filter.Manufacturer" />
                        </div>

                        <div class="usa-width-one-half">
                            <label for="search-partnumber">Part Number</label>
                            <input id="search-partnumber" type="text" ng-model="model.filter.ManufacturerPartNumber" />

                            <label for="search-sku">SKU</label>
                            <input id="search-sku" type="text" ng-model="model.filter.SKU" />

                            <label for="search-unspsc">UNSPSC</label>
                            <input id="search-unspsc" type="text" ng-model="model.filter.UNSPSC" />

                            <label for="search-producttype">Product Type</label>
                            <select id="search-producttype" ng-model="model.filter.ProductType" ng-options="prod for prod in model.productTypes" >
                                <option value="">Select Product Type</option>
                            </select>

                            <label for="search-category">Category</label>
                            <select id="search-category" ng-model="model.filter.Category" ng-options="category for category in model.categories" >
                                <option value="">Select Category</option>
                            </select>

                            <label for="search-unitofmeasure">Unit of Measure</label></td>
                            <select id="search-unitofmeasure" ng-model="model.filter.UnitOfMeasure" ng-options="unit for unit in model.unitsOfMeasure" >
                                <option value="">Select Unit of Measure</option>
                            </select>

                            <label for="search-quantityperuom">Quantity per UOM</label>
                            <input id="search-quantityperuom" type="text" ng-model="model.filter.QuantityPerUnitOfMeasure" />

                            <label for="search-description">Description</label>
                            <textarea id="search-description" ng-model="model.filter.Description" required></textarea>

                            <label for="filterImagefilename">Image File Name</label>
                            <select id="filterImagefilename" ng-model="model.filter.ImageFileName" ng-options="name for name in model.imageFileNames" required>
                                <option value="">Select Image File Name</option>
                            </select>

                            <label for="noimage" class="usa-sr-only">No image</label></td>
                            <input id="noimage" type="hidden" ng-model="model.filter.Id" />
                            <img id="filterImage" height="100" width="100" ng-src="/api/image/{{model.filter.ImageFileName}}" alt="No Image Selected" />
                        </div>

                        <div class="usa-width-one-whole">
                          <input type="button" value="Search" ng-click="model.filterProducts()" class="usa-button-secondary right" />
                          <input type="button" value="Clear Search" ng-click="model.clearFilter()" class="usa-button-secondary right" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</standard-layout>