<link rel='stylesheet' type="text/css" href="app/views/shared/components/sub-nav/sub-nav.component.css" />

<div id="sub-nav" role="navigation" class="usa-grid">
    <ul class="usa-unstyled-list">
        <li>
            <a ng-link="['Software']">Software</a>
        </li>
        <li>
            <a ng-link="['Hardware']">Hardware</a>
        </li>
        <li>
            <a ng-link="['Options']">Options</a>
        </li>
        <li>
            <a ng-link="['Services']">Services</a>
        </li>
    </ul>
</div>