.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}
.left {
  float: left;
}
.right {
  float: right;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.clear {
  clear: both;
}
.product-details {
  /*-------------------remove these once actual images are implemented----------------------------*/
  /*----------------------------------------------------------------------------------------------*/
}
.product-details .usa-heading {
  border-bottom: 1px solid #02bfe7;
}
.product-details .add-to-cart {
  margin: 0;
}
.product-details .add-to-cart select {
  float: left;
  width: 30%;
}
.product-details .add-to-cart button {
  margin-top: 3px;
  height: 44px;
  border-radius: 0;
}
.product-details .compare {
  margin: 0;
}
.product-details .compare label {
  margin: 15px 0;
}
.product-details .product-placeholder {
  width: 100%;
  min-height: 200px;
  background-color: lightgray;
  border: 1px solid darkgray;
}
.product-details .product-thumbnail {
  width: 31.5%;
  min-height: 50px;
  background-color: lightgray;
  border: 1px solid darkgray;
  margin-top: 10px;
}
.your-cart .usa-heading {
  border-bottom: 1px solid #e31c3d;
}
.your-cart .items-in-cart-header {
  background: #F1F1F1;
  color: #000000;
  text-align: right;
  padding: 10px;
  font-size: 1.2em;
}
.your-cart .items-in-cart {
  padding: 20px 0;
  font-size: 0.75em;
  /*-------------------remove these once actual images are implemented----------------------------*/
  /*----------------------------------------------------------------------------------------------*/
}
.your-cart .items-in-cart .product-thumbnail {
  width: 100%;
  min-height: 100px;
  background-color: lightgray;
  border: 1px solid darkgray;
  margin-right: 10px;
}
.your-cart .buttons {
  clear: both;
  float: right;
}
.your-cart .help-info {
  border: 1px solid #A8ABB0;
  padding: 15px;
}
.your-cart .help-info h4 {
  margin-bottom: 0;
}
.your-cart .help-info p {
  margin-top: 0;
}
.checkout {
  /*-------------------remove these once actual images are implemented----------------------------*/
  /*----------------------------------------------------------------------------------------------*/
}
.checkout .usa-heading {
  border-bottom: 1px solid #aeb0b5;
}
.checkout .product-thumbnail {
  width: 100%;
  min-height: 100px;
  background-color: lightgray;
  border: 1px solid darkgray;
  margin-right: 10px;
}
.checkout .order-summary {
  border: 1px solid #aeb0b5;
  padding: 10px;
}
.checkout .item-info-group {
  margin-bottom: 10px;
}
.checkout .total-cost {
  font-weight: bold;
  border-top: 1px solid #aeb0b5;
}
